---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/default",
    "theme/dark",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;



.masthead,
.masthead--sticky {
  min-height: 170px;
  background: url("/images/header-bg.png") center/cover no-repeat;
  --global-bg-color: transparent;
}

.masthead__inner-wrap {
  position: absolute; /* anchor it inside .masthead */
  bottom:   0; /* stick to the bottom edge */
  left:     0;
  right:    0;
  padding:  0 1em .7em; /* tweak bottom padding to taste */
}



.research-figcap,
figure figcaption {
  font-size: 0.8rem; /* a bit smaller than body text */
  color: rgb(50%, 50%, 50%); /* dark-gray text, a little lighter */
  margin-top: 0.4em; /* space above the caption */
  line-height: 1.4; /* tidier multiple lines */
}



#theme-toggle { display: none !important; }



.site-last-updated { display: none !important; }
